extends ../../layouts/default

block head
  title Title

block body
  section.vbox
    section.scrollable.padder
      div.page-header
        h3.m-b-none Добавление фильма
        p.m-b-none Если вы не можете найти фильм на сайте, добавьте его используя ссылку с сайта iMDB.com, либо заполните форму.

      div.row
        div.col-sm-12
          legend Добавить фильм с iMDB

          div#alertsiMDB

          .form-group.row
            .col-sm-5
              input.form-control(type='url', id='iMDBurl', placeholder='Ссылка на фильм')

          .form-group.row
            .col-sm-10
              button#saveiMDB.btn.btn-secondary Добавить
