<title>Sign Up</title>
<div id="signup">
</div>
<div id="alerts"></div>
<div class="list-group">
  <div class="list-group-item">
    <input id="username" type="text" name="username" value="{username}" placeholder="Имя пользоватеял" class="form-control no-border"/>
  </div>
  <div class="list-group-item">
    <input id="email" type="email" name="email" value="{email}" placeholder="Email" class="form-control no-border"/>
  </div>
  <div class="list-group-item">
    <input id="password" type="password" name="password" placeholder="Пароль" class="form-control no-border"/>
  </div>
</div>
<button id="signupButton" type="button" class="btn btn-lg btn-primary btn-block">Зарегистроваться</button>
<div class="line li-dashed"></div>
<p class="text-muted text-center"><small>Уже есть аккаунт?</small></p><a href="/login/" class="btn btn-lg btn-default btn-block">Войти</a>