.movies .movie img {
  width: 100%; }

.movies .movie a {
  text-decoration: none;
  color: #000000;
  font-size: 20px; }

.movies .movie a:hover {
  text-decoration: none;
  color: #ff8f00; }

.movies .movie .movie_title {
  padding: 0; }
