extends ../../layouts/auth

block head
  title Sign Up

block body
  div#signup
    if oauthVkontakte || oauthFacebook || oauthGoogle
      div.btn-group.btn-group-justified
        if oauthVkontakte
          a.btn.btn-info(href='/login/vkontakte/')
            i.fa.fa-vk.fa-lg
            |  VK
        if oauthFacebook
          a.btn.btn-info(href='/login/facebook/')
            i.fa.fa-facebook-square.fa-lg
            |  Facebook
        if oauthGoogle
          a.btn.btn-info(href='/login/google/')
            i.fa.fa-google-plus-square.fa-lg
            |  Google
      .line.line-dashed

  div#alerts

  .list-group
    .list-group-item
      input.form-control.no-border#username(type='text', name='username', value='#{username}', placeholder='Имя пользоватеял')
    .list-group-item
      input.form-control.no-border#email(type='email', name='email', value='#{email}', placeholder='Email')
    .list-group-item
      input.form-control.no-border#password(type='password', name='password', placeholder='Пароль')
  button.btn.btn-lg.btn-primary.btn-block#signupButton(type='button') Зарегистроваться
  .line.li-dashed
  p.text-muted.text-center
      small Уже есть аккаунт?
  a.btn.btn-lg.btn-default.btn-block(href='/login/') Войти
