extends ../../../layouts/default

block head
  title Топ актёров пользователя

block body
  section.vbox
    section.scrollable.padder
      div.page-header
        h3.m-b-none Топ актёров пользователя
