extends ../../../layouts/default

block head
  title Настройки профиля

block body
  section.vbox
    section.scrollable.padder
      div.page-header
        h3.m-b-none Настройки профиля

      div.row
        div.col-sm-12
          legend Фото

          .row
            div.col-sm-2
              img.img-rounded(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTE2MjAyYmY2MSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MTYyMDJiZjYxIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', alt='...')

            div.col-sm-5
              button.btn.btn-secondary Загрузить

      if oauthTwitter || oauthFacebook || oauthGoogle
        div.row.m-b-sm
          div.col-sm-12
              legend Привязка к соцсетям
              if oauthMessage
                div.alerts
                  div.alert.alert-info.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | #{oauthMessage}
              div.row
                if oauthTwitter
                  div.col-sm-4
                    if oauthTwitterActive
                      a.btn.btn-block.btn-danger(href='/account/settings/twitter/disconnect/')
                        i.fa.fa-twitter.fa-lg
                        |  Отвязать Twitter
                    else
                      a.btn.btn-block.btn-default(href='/account/settings/twitter/')
                        i.fa.fa-twitter.fa-lg
                        |  Привезать Twitter
                if oauthFacebook
                  div.col-sm-4
                    if oauthFacebookActive
                      a.btn.btn-block.btn-danger(href='/account/settings/facebook/disconnect/')
                        i.fa.fa-facebook-square.fa-lg
                        |  Отвязать Facebook
                    else
                      a.btn.btn-block.btn-default(href='/account/settings/facebook/')
                        i.fa.fa-facebook-square.fa-lg
                        |  Привезать Facebook
                if oauthGoogle
                  div.col-sm-4
                    if oauthGoogleActive
                      a.btn.btn-block.btn-danger(href='/account/settings/google/disconnect/')
                        i.fa.fa-google-plus-square.fa-lg
                        |  Отвязать Google
                    else
                      a.btn.btn-block.btn-default(href='/account/settings/google/')
                        i.fa.fa-google-plus-square.fa-lg
                        |  Привезать Google

      div.row
        div.col-sm-12
          legend Основные

          .form-group.row
            label.col-sm-2.form-control-label(for='email') Email
            .col-sm-5
              input.form-control(type='email', id='email' placeholder='Email')

          .form-group.row
            label.col-sm-2 Пол
            .col-sm-5
              .radio
                label
                  input(type='radio', name='sex', value='0', checked='')
                  | Мужской
              .radio
                label
                  input(type='radio', name='sex', value='1')
                  | Женский

          .form-group.row
            .col-sm-offset-2.col-sm-10
              button.btn.btn-secondary Сохранить

      div.row
        div.col-sm-12
          legend Пароль

          .form-group.row
            label.col-sm-2.form-control-label(for='password') Новый пароль
            .col-sm-5
              input.form-control(type='password', id='password' placeholder='Пароль')

          .form-group.row
            .col-sm-offset-2.col-sm-10
              button.btn.btn-secondary Сохранить
