extends ../../../layouts/default

block head
  title Пользователь планирует посмотреть

block body
  section.vbox
    section.scrollable.padder
      div.page-header
        h3.m-b-none Пользователь планирует посмотреть
